/*Generelle styleelementer*/
body{
    margin: 5rem;
    background-color: #ffff;
    font-family: 'Quicksand', sans-serif;
}
h1{
    font-size: 4rem;
    font-weight: 200;
    margin: 0;
    margin-top: 4rem;
}
h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: #936f6b;
    margin: 0;
}
/*header*/
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    height: 5.5rem;
    width: 12rem;
    margin-top: -1rem;
}
#navbar{

}
.nav-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;  
    
}
.nav-link{
    padding-left: 1rem;
    text-decoration: none;
    color: #936f6b;
    font-weight: 400;
    font-size: 1.3rem;
}

/*main*/
.main-container{
    display: flex;
    flex: row;
    justify-content: space-around;
    padding-top: 6rem;

}
.overskrift{
    flex-direction: column;
    margin-top: 0rem;
    
}
.mig{
    height: 40rem;
}
/*tablet-størrelse*/
@media (max-width: 768px){
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    .mig{
    }
    #burgermenu {
        cursor: pointer;
        height: 27px;
        width: 27px;
        margin: 2rem;
        overflow: visible;
        position: relative;
        z-index:2;
    }

    #burgermenu span,
    #burgermenu span:before,
    #burgermenu span:after {
        background: #936f6b;
        display: block;
        height: 2px;
        position: absolute;
        transition: 0.3s ease-in-out;
    }
    #burgermenu span:before,
    #burgermenu span:after {
        content: "";
    }
    #burgermenu span {
        right: 0px;
        top: 13px;
        width: 27px;
    }
    #burgermenu span:before {
        left: 0px;
        top: -10px;
        width: 27px;
    }
    #burgermenu span:after {
        left: 0px;
        top: 10px;
        width: 27px;
    }

    #burgermenu.close span {
        transform: rotate(-45deg);
        top: 13px;
        width: 27px;
    }
    #burgermenu.close span:before {
        top: 0px;
        transform: rotate(90deg);
        width: 27px;
    }
    #burgermenu.close span:after {
        top: 0px;
        left:0;
        transform: rotate(90deg);
        opacity:0;
        width:0;
    }
    #navbar{
        z-index:1;
        min-width:100%;
        min-height:100%;
        position: fixed;
        visibility: hidden;
        text-align: center;
        transition: all 0.3s ease-in-out;
        flex-direction: column;
    }
    #navbar.overlay{
        visibility: visible;
        background-color:#fff;
        opacity: 80%;
        margin-left: 0;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        text-decoration:none;
        margin: 0;
    }
    .nav-list a{
        font-size: 2.5rem;
        
    }
}