/*Generelle styleelementer*/
*{
    scroll-behavior: smooth;
}
body{
    background-color: #ffff;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
h1{
    font-size: 4rem;
    font-weight: 200;
    margin: 0;
    margin-top: 4rem;
}
h2{
    font-size: 2.5rem;
    font-weight: 400;
    color: #936f6b;
    margin: 0;
}
/*header*/
.header-container{
    display: flex;
    flex-direction: row;
    background-color: white;
    opacity: 90%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 15px rgba(140, 120, 120, 0.2);
}
.logo{
    height: 7.4rem;
    width: 6rem;
    margin-left: 5rem;
}
#navbar{
    margin-right: 5rem;
}
.nav-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;  
    
}
.nav-link{
    padding-left: 1rem;
    text-decoration: none;
    color: #936f6b;
    font-weight: 400;
    font-size: 1.3rem;
}
a:hover{
    font-weight: 600;
}

.nav-link-active{
    text-decoration: underline;
    color: #936f6b;
    font-weight: 400;
    font-size: 1.3rem;
}

/*main*/
section{
    padding-top: 10rem;
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 5rem;
    margin-right: 5rem;
}
.mig{
    height: 37rem;
    padding-top: 1rem;
}
#about{
    border-radius: 50%/100px 100px 0 0;
    box-shadow: 0 3px 15px rgba(140, 120, 120, 0.2);
}
/*scroll to top-button*/
#topBtn {
    display: none;
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    z-index: 99;
    border: none;
    outline: none;
    color: #d19b95;
    cursor: pointer;
    border-radius: 15%;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-shadow: rgba(126, 102, 117, 0.233) 0px 4px 12px;
    background-color: #fff;
  }
  .bx {
    font-size: 3rem;
  }
  #topBtn:hover {
    box-shadow: rgba(142, 82, 109, 0.25) 0px 13px 27px -5px, rgba(122, 77, 97, 0.3) 0px 8px 16px -8px;
  }
/*almindelig computerskærm-størrelse*/
@media (max-width: 1024px){
    h1{
        font-size: 3.2rem;
    }
    h2{
        font-size: 2.3rem;
    }
    .mig{
        height: 31rem;
    }
}
/*tablet-størrelse*/
@media (max-width: 768px){
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2rem;
    }
    .mig{
        height: 25rem;
    }
    #burgermenu {
        cursor: pointer;
        height: 40px;
        width: 40px;
        margin: 2rem;
        overflow: visible;
        position: relative;
        z-index:2;
    }

    #burgermenu span,
    #burgermenu span:before,
    #burgermenu span:after {
        background: #936f6b;
        display: block;
        height: 2px;
        position: absolute;
        transition: 0.3s ease-in-out;
    }
    #burgermenu span:before,
    #burgermenu span:after {
        content: "";
    }
    #burgermenu span {
        right: 0px;
        top: 13px;
        width: 40px;
    }
    #burgermenu span:before {
        left: 0px;
        top: -10px;
        width: 40px;
    }
    #burgermenu span:after {
        left: 0px;
        top: 10px;
        width: 40px;
    }

    #burgermenu.close span {
        transform: rotate(-45deg);
        top: 13px;
        width: 40px;
    }
    #burgermenu.close span:before {
        top: 0px;
        transform: rotate(90deg);
        width: 40px;
    }
    #burgermenu.close span:after {
        top: 0px;
        left:0;
        transform: rotate(90deg);
        opacity:0;
        width:0;
    }
    #navbar{
        z-index:1;
        min-width:100%;
        min-height:100%;
        top: 0;
        left: 0;
        position: fixed;
        visibility: hidden;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }
    #navbar.overlay{
        visibility: visible;
        background-color:#fff;
        opacity: 90%;
    }
    .nav-list{
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }
    .nav-item{
        justify-content: center;
        padding: 2rem;
    }
    .nav-link{
        font-size: 2rem;
    }
    .nav-link-active{
        font-size: 2rem;
    }
}